@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1080px) {
  .AboutMe {
    padding: 0 300px;
    padding-bottom: 10rem;
    padding-top: 2rem;
  }
  
}

/* width */
::-webkit-scrollbar {
    width: 0.4rem;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #FFFFFF10;
border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #FFFFFF70;
}